@media (min-width: 992px)
  a:hover
    color: #36B37E
    opacity: 0.95
    transition: 0.2s
  button:hover
    color: #36B37E
    transition: 0.2s
@media (max-width: 1200px)
  .delete
    display: none
  .container
    max-width: 960px
    &-new
      max-width: 1014px
  .swiper
    &-container
      width: 960px
  .header
    &__block
      &-form
        width: 750px
  .header,
  .examples
    &__featured
      &-card
        &-title
          font-size: 28px
          line-height: 35px
          margin-top: 50px
          margin-bottom: 16px
        &-paragraph
          font-size: 16px
          line-height: 28px
    &__label
      top: 15px
      left: 30px
  .popular
    &__first, &__second
      &-card
        position: relative
        width: 465px
        height: 500px
  .update
    &__first,
    &__second,
    &__third
      &-card
        width: 300px
        height: 450px
        &-title
          font-size: 26px
          line-height: 32px
          margin-bottom: -6px
        &-paragraph
          font-size: 16px
          line-height: 22px
          margin-bottom: 21px
@media (max-width: 1020px)
  .container
    max-width: 700px
    &-new
      max-width: 754px
  .swiper
    &-container
      max-width: 700px
  .header
    padding-bottom: 170px
    &__fragment
      justify-content: flex-end
  .header,
  .examples
  &__block
    max-width: 600px
    margin-top: 46px
    &-title
      &-form
        width: 600px
    &__featured
      &-card
        padding: 10px 46px 22px 32px
        &-title
          font-size: 26px
          line-height: 31px
          margin-top: 45px
          margin-bottom: 7px
        &-paragraph
          font-size: 16px
          line-height: 25px
  .popular
    &__flag
      flex-direction: column
      align-items: start
      margin-top: -2px
      margin-bottom: 10px
    &__first, &__second
      &-card
        position: relative
        width: 335px
        height: 440px
        padding: 19px 24px
        &-title
          color: #FFFFFF
          font-family: Roboto
          font-style: normal
          font-weight: bold
          font-size: 30px
          line-height: 40px
          letter-spacing: 0.2px
          margin-bottom: 60px
          &--mod
            margin-bottom: 40px
  .update
    &__flag
      flex-direction: column
      align-items: start
      padding-top: 50px
    &__first,
    &__second,
    &__third
      &-card
        padding: 25px 5px
        width: 225px
        height: 400px
        &-title
          font-size: 22px
          line-height: 28px
          margin-bottom: -6px
        &-paragraph
          font-size: 14px
          line-height: 20px
          margin-bottom: 21px
@media (max-width: 767px)
  .container
    width: 90%
    &-new
      width: 96%
  .swiper
    &-container
      width: 93%
      height: 100%
  .header
    padding-bottom: 350px
    &__fragment
      display: none
    &__menu
      &-button
        display: flex
        width: 22px
        height: 22px
        align-items: center
        justify-content: space-between
        flex-direction: column
        border: none
        background-color: transparent
        &-line
          width: 22px
          height: 2px
          background-color: #ffffff
    &__block
      &-form
        width: 100%
      &-tags
        display: flex
        flex-wrap: wrap
      &-list
        flex-basis: 100%
        margin-bottom: 20px
  .header,
  .examples
    &__featured
      grid-template-columns: 100%
      &-img
        height: 300px
        width: 100%
      &-card
        padding: 10px 46px 32px 32px
        &-title
          font-size: 20px
          line-height: 24px
        &-paragraph
          font-size: 14px
          line-height: 24px
        &-name
          font-size: 14px
          line-height: 20px
        &-rating
          color: #5A7184
          font-family: Open Sans
          font-style: italic
          font-weight: normal
          font-size: 12px
          line-height: 16px
        &-data
          font-size: 14px
          line-height: 20px
        &-bottom
          margin-top: 30px
  .popular
    &__cards
      flex-wrap: wrap
      a
        width: 100%
    &__first, &__second
      &-card
        width: 100%
        height: 350px
        margin-bottom: 20px
        &-title
          width: 54%
  .update
    &__cards
      flex-wrap: wrap
      flex-direction: column
    &__first,
    &__second,
    &__third
      &-card
        padding: 35px 35px
        width: 100%
        height: 350px
        margin-bottom: 20px
        &-title
          font-size: 26px
          line-height: 32px
          margin-bottom: -6px
        &-paragraph
          width: 50%
          font-size: 18px
          line-height: 24px
          margin-bottom: 21px
@media (max-width: 576px)
  .container
    width: 90%
  .header
    padding-bottom: 352px
    &__background
      height: 518px
    &__nav
      padding-top: 13px
    &__logo
      max-width: 79px
      margin-left: 7px
    &__menu
      &-button
        margin-top: 6px
        margin-right: 8px
    &__block
      margin-top: 36px
      &-title
        font-size: 32px
        line-height: 40px
        margin-bottom: 30px
      &-form
        height: 100%
        width: 95%
      &-input
        position: static
        height: 48px
        border-radius: 8px
        margin-bottom: 12px
        padding-right: 20px
      ::placeholder
        padding-left: 25px
      &-button
        position: static
        width: 100%
        height: 48px
        border-radius: 8px
      &-tags
        margin-top: 16px
        margin-left: 8px
      &-list
        font-size: 14px
        line-height: 20px
        margin-right: 10px
        margin-bottom: 12px
      &-tag
        margin-bottom: 11px
        margin-right: 12px
    &__featured
      margin-top: 23px
      &-img
        height: 160px
      &-card
        padding: 10px 16px 32px 17px
        &-title
          margin-bottom: 0
          margin-top: 46px
        &-bottom
          margin-top: 21px
    &__label
      top: 18px
      left: 15px
      text-transform: uppercase
  .popular
    padding-top: 65px
    padding-bottom: 20px
    &__cards
      margin-bottom: 16px
    &__title
      font-size: 24px
      line-height: 32px
      text-align: center
      margin: 1px
    &__flag
      margin-bottom: 22px
    &__text
      font-size: 11px
      line-height: 24px
      text-align: center
      max-width: 100%
    &__button
      display: none
      &-img
        margin-left: 7px
      &-mod
        display: block
        width: 173px
        padding: 6px 19px 7px 13px
        margin: auto
    &__first, &__second
      &-card
        height: 320px
        padding: 16px 18px
        margin-bottom: 16px
        &-title
          font-size: 20px
          line-height: 24px
          margin-bottom: 48px
          width: 100%
          &--mod
            margin-bottom: 6px
        &-img
          margin-right: 6px
        &-name
          font-size: 14px
          line-height: 20px
          margin-left: 4px
        &-rating
          font-size: 12px
          line-height: 16px
          margin-left: 5px
        &-data
          font-size: 14px
          line-height: 20px
    &__label
      max-width: 132px
      font-size: 14px
      line-height: 20px
      padding: 2px 11px
      top: 20px
      left: 17px
  .update
    padding-top: 48px
    padding-bottom: 20px
    &__cards
      margin-bottom: 16px
    &__title
      font-size: 24px
      line-height: 32px
      text-align: center
      margin-bottom: -62px
    &__flag
      margin-bottom: -8px
    &__text
      font-size: 14px
      line-height: 24px
      text-align: center
      max-width: 100%
    &__button
      display: none
      &-img
        margin-left: 7px
      &-mod
        display: block
        width: 173px
        padding: 6px 19px 7px 13px
        margin: auto
    &__first,
    &__second,
    &__third
      &-card
        height: 320px
        padding: 16px 20px
        margin-bottom: 16px
        &-title
          font-size: 20px
          line-height: 24px
          margin-bottom: -2px
          width: 100%
          &-mod
            margin-bottom: -6px
        &-paragraph
          font-size: 14px
          line-height: 21px
          margin-bottom: 21px
          width: 100%
          &-mod
            margin-bottom: 4px
            letter-spacing: 0
        &-img
          margin-right: 6px
        &-name
          font-size: 14px
          line-height: 20px
          margin-left: 4px
        &-rating
          font-size: 12px
          line-height: 16px
          margin-left: 5px
        &-data
          font-size: 14px
          line-height: 20px
    &__button
      display: none
      &-mod
        display: block
        width: 173px
        padding: 6px 19px 7px 13px
        margin: auto
        margin-top: 30px
  .swiper
    &-container
      margin-top: -20px
  .examples
    padding-bottom: 40px
    padding-top: 15px
    &-button
      &-prev
        top: 42%
        left: -2%
        transform: scale(0.7)
      &-next
        top: 42%
        right: -2%
        transform: scale(0.7)
    &__title
      font-size: 24px
      line-height:
      margin-left: 7px
      margin-bottom: 6px
    &__text
      font-size: 14px
      line-height: 24px
      text-align: center
      margin: 0
    &__button
      display: none
      &-mod
        display: block
        width: 173px
        padding: 6px 19px 7px 13px
        margin-left: 70px
        margin-top: 14px
      &-img
        margin-left: 6px
    &__featured
      &-img
        height: 161px
      &-card
        padding: 10px 16px 32px 16px
        &-title
          font-size: 20px
          line-height: 24px
          letter-spacing: 0.2px
          margin-top: 45px
          margin-bottom: 0
        &-paragraph
          font-size: 14px
          line-height: 24px
          max-width: 100%
        &-bottom
          margin-top: 24px
        &-img
          margin-right: 8px
        &-name
          font-size: 14px
          line-height: 20px
          margin-left: 4px
        &-rating
          margin-left: 1px
          margin-top: -2px
          letter-spacing: 1.3px
        &-data
          font-size: 14px
          line-height: 20px
    &__label
      text-transform: uppercase
      max-width: 132px
      font-size: 14px
      line-height: 20px
      padding: 2px 11px
      top: 23px
      left: 22px
      letter-spacing: 0.2px
