*
  box-sizing: border-box
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
button, a, input, textarea
  outline: none
button, a
  cursor: pointer
textarea
  resize: none
.invalid
  color: red
.modal
  &__input
    &-group
      position: relative
.footer
  &__block
    &-form
      position: relative
label.invalid
  position: absolute
  top: 1px
  left: 20px
  font-family: Roboto
  font-style: normal
  font-size: 12px
